<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>izone 서비스 신청</title>
</head>
<body>
    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <h3 class="register-heading">아직 izone 회원이 아니신가요?</h3>
        <!-- 회원가입 폼 -->
        <!-- 폼 시작 -->
        <form action="http://127.0.0.1:3307/join" enctype="application/x-www-form-urlencoded"
            method="post">
            <div class="row register-form">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- 아이디입력시작 -->
                        <!-- 아이디 -->
                        <input type="text" name="id" id="id" class="form-control"
                            placeholder="아이디 *">
                    </div>
                    
                    <div class="form-group">
                        <!-- 기관명입력 -->
                        <input type="text" name="org" id="org" class="form-control"
                            placeholder="기관명 *">
                    </div>

                    <div class="form-group">
                        <!-- 주소입력시작 -->
                        <input type="text" name="address" id="address" class="form-control"
                            placeholder="기관주소 *">
                    </div>

                    <div class="form-group">
                        <!-- 이름입력시작 -->
                        <input type="text" name="name" id="name" class="form-control"
                            placeholder="이름 *">
                    </div>

                    <div class="form-group">
                        <!-- 전화번호 입력시작 -->
                        <input type="text" name="tel" id="tel" class="form-control"
                            placeholder="전화번호 *">
                    </div>

                    <div class="form-group">
                        <!-- 회원구분 e,c -->
                        <span id="check_n"></span>
                    </div>

                    <div class="form-group">
                        <div class="maxl">
                            <label class="radio inline">
                                <input type="radio" name="classification" value="e">
                                <span>
                                    전문가
                                </span>
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="classification" value="c">
                                <span>어린이집
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="maxl">
                            <label class="radio inline">
                                <input type="radio" name="credit" value="t">
                                <span>
                                    결제완료
                                </span>
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="credit" value="f">
                                <span>미결제
                                </span>
                            </label>
                        </div>
                    </div>

                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" id="pw" name="pw" class="form-control"
                            placeholder="비밀번호 *" value="" onchange="check_pw()">
                    </div>
                    <div class="form-group">
                        <input type="password" id="pw2" name="pwck" class="form-control"
                            placeholder="비밀번호 확인 *" value="" onchange="check_pw()">
                    </div>
                    <div class="form-group">
                        <span id="check"></span>
                    </div>
                    <input type="submit" id="join" name="join" class="btnRegister"
                        onclick="location.href='#profile'" value="회원가입">
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>