<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사건 조회</title>
</head>
<body>
    <h1>모델에서 영상 어떻게 참조하고 가져와서 띄우지?</h1>
</body>
</html>