:root {
    --yellow: #fae100;
    --horizontal-space: 25px;
    --main-border: 1px solid rgba(0, 0, 0, 0.2);
    --unnamed-color-ffffff: #ffffff;
    --unnamed-color-000000: #000000;
    --unnamed-color-707070: #707070;
    --unnamed-color-83b1c9: #83b1c9;
    --unnamed-color-ebebe3: #ebebe3;
    --unnamed-color-525556: #525556;
    --unnamed-color-c6c6c6: #c6c6c6;
    --unnamed-color-d1dfe8: #d1dfe8;
    ---edeef0:#EDEEF0;

}